
<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
   <head>
      <title>Catalogo</title>
      <link type="text/css" href="./../..//css/style.css" rel="stylesheet"/>
   </head>

   <body>
	  <a href="./../../UI Patterns/index.html">torna alla sezione UI Patterns</a>
   	  <h1>Sezione Layout (v.12.0)</h1>
   	  
   	  <div class="domainDescription">
   	  <p>Questa sezione contiene la descrizione delle possibili modalit&agrave;
di organizzazione degli elementi costitutivi della user interface 
(pannelli contenuti in pannelli, widgets contenuti in pannelli)
</p>
   	  </div>
   	  
      
      <h2>
         Indice degli elementi del catalogo per questa sezione.
      </h2>
      <p>
         Questa sezione del catalogo contiene i seguenti elementi: 
         <ol>
         
         <li><img src="./../..//UI Patterns/Layout/UDLRCLayout/img/icon.gif"/>-<a href="./../../UI Patterns/Layout/UDLRCLayout/index.html"><b>UDLRCLayout</b></a></li>
         
         <li><img src="./../..//UI Patterns/Layout/VerticalLayout/img/icon.gif"/>-<a href="./../../UI Patterns/Layout/VerticalLayout/index.html"><b>VerticalLayout</b></a></li>
         
         <li><img src="./../..//UI Patterns/Layout/HorizontalLayout/img/icon.gif"/>-<a href="./../../UI Patterns/Layout/HorizontalLayout/index.html"><b>HorizontalLayout</b></a></li>
         
         <li><img src="./../..//UI Patterns/Layout/GridLayout/img/icon.gif"/>-<a href="./../../UI Patterns/Layout/GridLayout/index.html"><b>GridLayout</b></a></li>
         
         </ol> 
      </p>
      
      
   </body>
</html>
