<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
   <head>
      <title>Scheda della modalit&agrave; di layout HorizontalFlowPanelLayout</title>
   </head>

   <body>
      <h2>
         UI Layout - scheda della modalit&agrave; di layout [<img src="img/HorizontalFlowPanelLayout.gif"></img>HorizontalFlowPanelLayout]
      </h2>
      <p>
         In questa scheda &egrave; descritto il layout <b>HorizontalFlowPanelLayout</b>, in termini di:
         <ul>
         <li>riferimento alla documentazione di dettaglio dell'elemento del metamodello utilizzabile durante la modellazione</li>
         <li>uno o pi&ugrave; snapshot che rappresentano graficamente il tipo di layout</li>
         <li>una descrizione del layout che ne descrive l'utilizzo e le possibili varianti</li>
         </ul> 
      </p> 
      <h3>Identificativo e riferimenti di dettaglio</h3>
      <p>
      	La documentazione <i>metamodeldoc</i> di dettaglio del layout <b>HorizontalFlowPanelLayout</b> &egrave; disponibile
      	<a href="../../metamodeldoc/html/guigen/classes/HorizontalFlowPanelLayout.html">qui</a>. 
      </p>
      <h3>Descrizione</h3>
      
      <p>
L' <b>HorizontalFlowPanelLayout</b> (layout sequenziale a sviluppo
orizzontale) prevede che gli elementi contenuti nel pannello che possiede
questo layout siano visualizzati uno dopo l'altro in una sequenza 
orizzontale, all'interno dell'area disponibile per il pannello contenitore.
Di fatto, se il numero di widget inseriti nel pannello &egrave; <i>n</i>, 
rappresenta un layout con <i>n</i> colonne logiche (una per widget) e
<i>2*n</i> colonne fisiche (una per la label ed una per il campo effettivo, 
il tutto moltiplicato per il numero di widget).
E' possibile regolare le percentuali di occupazione della componente label
e della componente widget di ciascuno dei widget.
Le percentuali sono relative allo spazio a disposizione dell'interno pannello.
</p>
      
            
   </body>
</html>
