<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
   <head>
      <title>Scheda della modalit&agrave; di layout VerticalFlowPanelLayout</title>
   </head>

   <body>
      <h2>
         UI Layout - scheda della modalit&agrave; di layout [<img src="img/VerticalFlowPanelLayout.gif"></img>VerticalFlowPanelLayout]
      </h2>
      <p>
         In questa scheda &egrave; descritto il layout <b>VerticalFlowPanelLayout</b>, in termini di:
         <ul>
         <li>riferimento alla documentazione di dettaglio dell'elemento del metamodello utilizzabile durante la modellazione</li>
         <li>uno o pi&ugrave; snapshot che rappresentano graficamente il tipo di layout</li>
         <li>una descrizione del layout che ne descrive l'utilizzo e le possibili varianti</li>
         </ul> 
      </p> 
      <h3>Identificativo e riferimenti di dettaglio</h3>
      <p>
      	La documentazione <i>metamodeldoc</i> di dettaglio del layout <b>VerticalFlowPanelLayout</b> &egrave; disponibile
      	<a href="../../metamodeldoc/html/guigen/classes/VerticalFlowPanelLayout.html">qui</a>. 
      </p>
      <h3>Descrizione</h3>
      
      <p>
Il <b>VerticalFlowPanelLayout</b> (layout sequenziale a sviluppo
verticale) prevede che gli elementi contenuti nel pannello che possiede
questo layout siano visualizzati uno dopo l'altro in una sequenza 
verticale, all'interno dell'area disponibile per il pannello contenitore.
Di fatto rappresenta un layout ad una colonna logica (un solo widget) e
due colonne fisiche (una per la label ed una per il campo effettivo).
E' possibile regolare le percentuali di occupazione della componente label
e della componente widget. Le percentuali sono relative allo spazio a
disposizione dell'interno pannello.
</p>
      
      <hr></hr>
      <h3>Immagini esemplificative</h3>
      
      <img src="img/VerticalFlowPanelLayout_1.gif" border="1"></img>
      <br></br>
      <b>fig.1 - esempio</b>
      <hr></hr>      
   </body>
</html>
