<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
   <head>
      <title>Scheda della modalit&agrave; di layout UDLRCPanelLayout</title>
   </head>

   <body>
      <h2>
         UI Layout - scheda della modalit&agrave; di layout [<img src="img/UDLRCPanelLayout.gif"></img>UDLRCPanelLayout]
      </h2>
      <p>
         In questa scheda &egrave; descritto il layout <b>UDLRCPanelLayout</b>, in termini di:
         <ul>
         <li>riferimento alla documentazione di dettaglio dell'elemento del metamodello utilizzabile durante la modellazione</li>
         <li>uno o pi&ugrave; snapshot che rappresentano graficamente il tipo di layout</li>
         <li>una descrizione del layout che ne descrive l'utilizzo e le possibili varianti</li>
         </ul> 
      </p> 
      <h3>Identificativo e riferimenti di dettaglio</h3>
      <p>
      	La documentazione <i>metamodeldoc</i> di dettaglio del layout <b>UDLRCPanelLayout</b> &egrave; disponibile
      	<a href="../../metamodeldoc/html/guigen/classes/UDLRCPanelLayout.html">qui</a>. 
      </p>
      <h3>Descrizione</h3>
      
      <p>
L' <b>UDLRCPanelLayout</b> (layout a cinque quadranti Up, Down, Left,
Right, Center)  prevede che gli elementi contenuti nel pannello che possiede
questo layout siano visualizzati in uno dei quadranti. realizzando in questo modo
stutture di posizionamento relativo molto flessibili.
Tipicamente questo layout &egrave; utilizzato nella disposizione di sotto-pannelli.
Il layout pu&ograve; anche essere utilizzato per la disposizione di pulsanti all'interno
di un <b>CommandPanel</b>.
</p>
      
      <hr></hr>
      <h3>Immagini esemplificative</h3>
      
      <img src="img/UDLRCPanelLayout_1.gif" border="1"></img>
      <br></br>
      <b>fig.1 - esempio</b>
      <hr></hr>      
   </body>
</html>
