
<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
   <head>
      <title>Elemento di catalogo: VerticalLayout</title>
      <link type="text/css" href="./../../..//css/style.css" rel="stylesheet"/>
   </head>

   <body>
   	  <a href="./../../../UI Patterns/Layout/index.html">torna all'elenco degli elementi della sezione Layout</a>
   	  <h1>Elemento di catalogo: VerticalLayout (<img src="./img/icon.gif" alt="VerticalLayout"/>)</h1>
      <h2>Descrizione</h2>
      <div class="itemDescription">
      <p>
Il <b>VerticalFlowPanelLayout</b> (layout sequenziale a sviluppo
verticale) prevede che gli elementi contenuti nel pannello che possiede
questo layout siano visualizzati uno dopo l'altro in una sequenza 
verticale, all'interno dell'area disponibile per il pannello contenitore.
Di fatto rappresenta un layout ad una colonna logica (un solo widget) e
due colonne fisiche (una per la label ed una per il campo effettivo).
E' possibile regolare le percentuali di occupazione della componente label
e della componente widget. Le percentuali sono relative allo spazio a
disposizione dell'interno pannello.
</p>

      </div>
      
      <h2>Caratteristiche (features)</h2>
      <table class="features">
      <thead><th>cod.</th><th>nome</th><th>descrizione</th></thead>
      <tbody>
      
      
      
      <tr><td colspan="3" class="featureCategory">struttura</td></tr>
      	
	<tr>
	<td class="featureCod">LVRT001</td>
	<td class="featureName">disposizione verticale</td>
	<td class="featureDescr">Gli elementi contenuti nel pannello a cui &egrave; associato questo 
layout sono disposti uno sotto l'altro.
	</td>
	</tr>

	<tr>
	<td class="featureCod">LVRT002</td>
	<td class="featureName">dimensionamento orizzontale</td>
	<td class="featureDescr">Nel caso in cui gli oggetti contenuti nel contentore che possiede questo 
layout siano dei widget, &egrave; possibile specificare la dimensione
percentuale di occupazione della compoenente <i>label</i> e della componenete
<i>campo</i>
	</td>
	</tr>
      
      </tbody>
      </table>
      
	<h2>Immagini</h2>
	
	<div class="itemDetailImage">
	<table><tr><td>
	<img class="itemDetailImage" src="./img/verticallayout_1.gif" alt="verticallayout_1.gif"/>
	</td></tr>
	<tr><td class="imageCaption">Esempio di layout verticale</td></tr>
	</table>
	</div>
	<br></br>
      
      <h2>Grado di implementazione delle varie caratteristiche</h2>
      <p>
      Nella tabella seguente &egrave; riportato il grado di implementazione delle
      varie caratteristiche/funzioni dell'elemento <b>VerticalLayout</b> nelle differenti implementazioni.
      </p>
      

<table class="compMatrixTable">
<thead>
<tr><th class="matrixTH" rowspan="3">cod</th><th class="matrixTH" rowspan="3">feature</th>
 <th colspan="4" class="matrixTH product">guigen</th>
</tr>
<tr><!--<th class="matrixTH"></th><th class="matrixTH"></th>-->
<th colspan="2" class="matrixTH productVersion">1.5.0</th>
<th colspan="2" class="matrixTH productVersion">1.6.0</th>
</tr>
<tr><!--<th class="matrixTH"></th><th class="matrixTH"></th>-->
<th class="matrixTH productEdition">neutral-base</th>
<th class="matrixTH productEdition">neutral-arricchita</th>
<th class="matrixTH productEdition">neutral-base</th>
<th class="matrixTH productEdition">neutral-arricchita</th>
</tr>

</thead>
<tbody>
	<tr><td class="featureCategory" colspan="0">struttura</td></tr>
<tr>
<td>LVRT001</td><td class="feature">disposizione verticale</td>
<td><img src="./../../../img/yes.gif" /></td>
<td><img src="./../../../img/yes.gif" /></td>
<td><img src="./../../../img/yes.gif" /></td>
<td><img src="./../../../img/yes.gif" /></td>
</tr>
<tr>
<td>LVRT002</td><td class="feature">dimensionamento orizzontale</td>
<td><img src="./../../../img/yes.gif" /></td>
<td><img src="./../../../img/yes.gif" /></td>
<td><img src="./../../../img/yes.gif" /></td>
<td><img src="./../../../img/yes.gif" /></td>
</tr>


</tbody>
</table>

   </body>
</html>
